@import "tailwindcss";

html body {
    height: 100dvh;
    font-family: "Telegraf", sans-serif;
    font-size: 1.2rem;
    /* background-color: black; */
}

html ::-webkit-scrollbar {
    display: none;
}